<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>异步请求</title>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var add = $("#submit");
            var selectall = $("#check");

           /* console.log(name.text());*/

            add.click(function () {
                $.ajax({
                    url: "/getCode",
                    type:"get",
                    data: {
                        "name":$("#username").val()
                    },
                      //字符串
                    success:function (data) {
                        console.log(data);
                        alert("添加成功！");
                    }
                })
            })





        })


    </script>
</head>
<body>
<div style="text-align: center;">
    <h2>用户登录</h2>
    <form id="form" th:action="@{/loginUser}" style="alignment: center">
        USERNAME：<input type="text"  id="username" name="username"><br>
        PASSWORD：<input type="password"  id="password" name="password"><br>
        <button type="submit" id="submit" name="submitBut"
                style="background-color: cornflowerblue">submit now！</button><br>
        <a href="/register">Register Now？</a>
    </form>

</div>
<!--<table>
    <thead>
    <tr>
        <th>用户id</th>
        <th>用户名</th>
        <th>登录时间</th>
    </tr>
    &lt;!&ndash;<tbody>
        <tr th:each="user:${userList}">
            <td th:text="${user.getUserId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getLoginTime()}"></td>
            <td>
                <a th:href="@{/update/}+${user.getUserId()}">修改</a>
                <a th:href="@{/delete/}+${user.getUserId()}">删除</a>
            </td>
        </tr>
    </tbody>&ndash;&gt;
    </thead>
</table>-->

</body>
</html>
